<!doctype html>
<html>
<head>
    <title>New Student</title>
</head>
<body>
<form action="/student-add" method='POST'>
        <label>Enter new student first name:
            <input name="first" type="text">
        </label>
        <br>
        <label>Enter new student last name:
            <input name="last" type="text">
        </label>
        <br>
        <label>Enter new student GitHub:
            <input name="github" type="text">
        </label>
        <br>
        <input type="submit" value="Add Student">
    </form>
</body>
</html>